.section {
  border: 1px solid black;
  margin-bottom: 16.8rem;
}
.container {
  background: #2c343e;
  border-radius: 10px;
  max-width: 128rem;
  min-height: 38.6rem;
  margin: 0 auto;
  display: flex;
  gap: 12.5rem;
  align-items: flex-start;
  padding: 0 8.5rem;
  padding-top: 8.8rem;
}
.textbox {
  border: 1px solid white;
}
.textbox h2 {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #fefcf7;
  max-width: 51.7rem;
  margin-bottom: 3.2rem;
}
.textbox p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgba(254, 252, 247, 0.8);
  max-width: 54rem;
}
.imgbox {
  width: 100%;
  max-width: 44.5rem;
  height: 47.4rem;
}
