.footer {
  padding: 0 2.4rem;
  margin-bottom: 7.2rem;
}
.container {
  max-width: 128rem;
  margin: 0 auto;
  background: #2c343e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
  padding: 0 2.4rem;
}
.flexbox {
  width: 100%;
  max-width: 111rem;
  display: flex;
  align-items: center;
  gap: 10.3rem;
}
.footerLinks {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.navLinks {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.923077px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #83888f;
}
.socialLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.socialIcon {
  color: #fefcf7;
  font-size: 2.4rem;
}

@media all and (max-width: 947px) {
  .container {
    min-height: 27rem;
  }
  .flexbox {
    max-width: 38.3rem;
    flex-direction: column;
    gap: 3.256rem;
  }

  .socialLinks {
    margin-left: initial;
    margin-top: auto;
  }
}
@media all and (max-width: 396px) {
  .container {
    min-height: 34.6rem;
  }
  .footerLinks {
    flex-direction: column;
    gap: 2.4rem;
  }
}
